.cabeza{
  background-color: red; 
    color: white;
    padding: 2px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
    li{
  display: inline-block;
font-weight: bold;
padding: 20px 20px;
}
a{
  text-decoration: none;
  font-weight: bold;
color: white;
font-family: arial;
font-size: 15px;
}
a:hover{
  color: black;
  }
  li a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s;
}
li a:hover {
  background-color: white;
}
}
body{
	text-align: center;
	background-color: rgb(138,165,179);
	align-items: center;
}
.tb{
	padding-left: 5%;
	padding-right: 5%;
	align-items: center;
}